var el = $('#mainbox');
var response = el.find('#response')
response.find('#message').html("");
<% if @signature.errors.any? %>

  // Create a list of errors
  var errors = $('<ul />');

  <% @signature.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  response.find('#message').html("Failed to sign");
  response.find('#errors').html(errors);

<% else %>
  $('#signatures').empty().append("<%= escape_javascript( 
    render :partial => "signatures", :locals => {:signatures => @signatures, :signature_count => @signature_count}
    ) %>");

  // Clear form
  el.find('input:text,textarea').val('');
  response.find('#message').html("Thanks for signing!");
  response.find('#errors').empty();

<% end %>