// Place all the styles related to the Signatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$darkColor: hsl(330,55%,35%);
$lightColor: lighten($darkColor, 60%);

* {
	box-sizing:border-box;
}

::selection {
	background:lighten($darkColor, 35%);
}

::-moz-selection {
	background:lighten($darkColor, 35%);
}

html {
	height:100%;
}

body {
	font-family: Helvetica, sans-serif;
	color:$lightColor;
	background:$darkColor;
	height:100%;
	font-size:.6em;
	line-height: 1.2;
}

body > .wrapper {
	width:100%;
	overflow:hidden;
	height:auto;
	min-height:100%;
	position:relative;
}

.petition__container {
	padding:2em 5%;

	p {
		font-weight:bold;
		font-size: 3em;
	}

	fieldset {
		margin-bottom:2em;
	}
}

.petition__form__sign-name {
	display:inline-block;
	vertical-align:center;
	font-weight:bold;
	color:$lightColor;
	border:2px solid darken($darkColor, 5%);
	background-color:transparentize($lightColor, .6);
	padding:.5em;
	margin-left:-.5em;
	margin-right:.5em;
	font-size:2.5em;
	width:75%;

	transition:all .25s ease;

	&:focus {
		background-color:transparentize($lightColor, .8)
	}
}

.petition__form__sign-submit {
	display:inline-block;
	vertical-align: center;
	font-size: 2em;
	padding: .4em;

	background-color:lighten($darkColor, 20%);
	color:$lightColor;
	border:3px solid darken($darkColor, 10%);

	transition:all .25s ease;

	&:hover, &:focus {
		background-color:$lightColor;
		color: lighten($darkColor, 20%);
	}
}

.petition__signatures-container {
	padding:2em 2.5%;
	background:$lightColor;
	color:$darkColor;
	border-top:1em solid darken($darkColor, 10%);

}

@media screen and (min-width: 811px) {
	.petition__container {
		width:66%;
		float:left;
	}

	.petition__signatures-container {
		position:absolute;
		right:0;
		top:0;
		height:100%;
		width:33%;
		border-top:none;
		border-left:1em solid darken($darkColor, 10%);
	}
}

@media screen and (min-width:500px) {
	body {
		font-size: 1em;
		line-height: 1.6;
	}
}

$i: 1;
$width: 320;

@while $i < 360 {
	$width: $width + 4.4;
	$darkColor: adjust-hue($darkColor,  1deg);
	$secondaryColor: lighten($darkColor, 60%);
	@media screen and (min-width: #{$width}px) {
		::selection { background:lighten($darkColor, 35%); }
		::-moz-selection { background:lighten($darkColor, 35%); }
		body { color:$secondaryColor; background:$darkColor; }

		.petition__form__sign-name { color:$secondaryColor; border-color:darken($darkColor, 5%); background-color:transparentize($secondaryColor, .6);
			&:focus { background-color:transparentize($secondaryColor, .8) }
		}

		.petition__form__sign-submit { background-color:lighten($darkColor, 20%); color:$secondaryColor; border-color:darken($darkColor, 10%);
			&:hover, &:focus { background-color:$secondaryColor;color: lighten($darkColor, 20%);}
		}
		.petition__signatures-container { background:$secondaryColor; color:$darkColor; border-color:darken($darkColor, 10%); }
	}
	$i: $i + 1;
}


