// Place all the styles related to the Signatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primaryColor: hsl(330,55%,35%);
$lightColor: lighten($primaryColor, 60%);

* {
	box-sizing:border-box;
}

html {
	height:100%;
}

body {
	font-family: Helvetica, sans-serif;
	height:100%;
	font-size:.6em;
	line-height: 1.2;
}

body > .wrapper {
	width:100%;
	overflow:hidden;
	height:auto;
	min-height:100%;
	position:relative;
}

.petition-container {
	padding:2em 5%;

	p {
		font-weight:bold;
		font-size: 3em;
	}

	fieldset {
		margin-bottom:2em;
	}
}

.petition-form__sign-name {
	display:inline-block;
	vertical-align:center;
	font-weight:bold;
	border-width:2px; 
	border-style:solid;
	padding:.5em;
	margin-right:.5em;
	font-size:2.5em;
	width:75%;

	transition:all .25s ease;
}

.petition-form__sign-submit {
	display:inline-block;
	vertical-align: center;
	font-size: 2em;
	padding: .4em;

	border-width:3px;
	border-style:solid;

	transition:all .25s ease;
}

.signatures-container {
	padding:2em 2.5%;
	border-top-width:1em;
	border-top-style:solid;

}

.signatures { font-size:1.2em; }

@media screen and (min-width: 811px) {
	.petition-container {
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:33%;
		width:67%;
	}

	.signatures-container {
		position:absolute;
		right:0;
		top:0;
		height:100%;
		width:33%;
		border-top:none;
		border-left-width:1em; 
		border-left-style:solid;
	}

	.petition-form__sign-name {
		margin-left: -.5em;
	}
}

@media screen and (min-width:500px) {
	body {
		font-size: 1em;
		line-height: 1.6;
	}
}

$i: 1;
$width: 320;

@while $i < 360 {
	$width: $width + 4.4;
	$primaryColor: adjust-hue($primaryColor,  1deg);
	$secondaryColor: lighten($primaryColor, 60%);

	@media screen and (min-width: #{$width}px) {
		::selection { background:lighten($primaryColor, 35%); }
		::-moz-selection { background:lighten($primaryColor, 35%); }

		body { 
			color:$primaryColor;
			background:$secondaryColor;
		}

		.petition-container {
			color:$secondaryColor; 
			background:$primaryColor; 
		}

		.petition-form__sign-name { 
			color:$secondaryColor; 
			border-color:darken($primaryColor, 5%); 
			background-color:transparentize($secondaryColor, .6);

			&:focus { 
				background-color:transparentize($secondaryColor, .8);
				outline-color: darken($primaryColor, 10%);
			}
		}

		.petition-form__sign-submit { 
			background-color:lighten($primaryColor, 20%); 
			color:$secondaryColor; 
			border-color:darken($primaryColor, 10%);

			&:hover, 
			&:focus { 
				background-color:$secondaryColor;
				color: lighten($primaryColor, 20%);
				outline-color: darken($primaryColor, 10%);
			}
		}

		.signatures-container { 
			background:$secondaryColor; 
			color:$primaryColor; 
			border-color:darken($primaryColor, 10%); 
		}
	}
	$i: $i + 1;
}


